{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
<div ng-controller="IndexCtrl">
    <div class="row">
        <div class="intro col-md-4 col-md-offset-4">
            <h2 class="title">nullchat</h2>
            <a ng-click="createRoom()" href="#" class="btn btn-success create-room">create a room</a>
            <a target="_blank" href="//github.com/cydrobolt/null" class="btn btn-danger">about</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/index.js"></script>
{% endblock %}
